In [1]:
import sqlite3

In [2]:
# Connect database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
    )
''')

# Commit changes
connection.commit()

In [6]:
cursor.execute('''
SELECT * FROM employees
''')

In [7]:
cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Saidul', 25, 'Software Engineering')
''')

In [8]:
cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Rezaul', 23, 'AI')
''')

In [9]:
connection.commit()

In [11]:
# Query data
cursor.execute('SELECT * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Saidul', 25, 'Software Engineering')
(2, 'Rezaul', 23, 'AI')

In [12]:
connection.close()

In [ ]:
import logging

logging.basicConfig(level=logging.DEBUG)

logging

In [7]:
import threading
import time

def print_nums():
    for num in range(5):
        time.sleep(1)
        print(f"Number: {num}")

def print_chars():
    for char in "abcde":
        time.sleep(1)
        print(f"Character: {char}")

t1 = threading.Thread(target=print_nums)
t2 = threading.Thread(target=print_chars)

starting_time=time.time()
# print_nums()
# print_chars()

t1.start()
t2.start()

t1.join()
t2.join()

ending_time=time.time()
total_time_taken=ending_time-starting_time
print(total_time_taken)

Number: 0
Character: a
Number: 1
Character: b
Number: 2
Character: c
Number: 3
Character: d
Number: 4
Character: e
5.012761116027832

In [12]:
from concurrent.futures import ThreadPoolExecutor
import time

def print_nums(nums):
        time.sleep(1)
        print(f"Number: {nums}")

if __name__=="__main__":
    numbers=[1,2,3,4,5,1,2,4,5,6,3,4,8,5,6,9,4,1,1,2,5,4,1,2,5,4,1,2,4,1,2,54,1,5,2]

    with ThreadPoolExecutor(max_workers=3) as executor:
        results=executor.map(print_nums, numbers)

    for result in results:
        print(result)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 1
Number: 2Number: 4

Number: 5
Number: 6
Number: 3
Number: 4
Number: 6
Number: 8
Number: 5
Number: 9Number: 4

Number: 1
Number: 1Number: 2

Number: 5
Number: 4Number: 1

Number: 2
Number: 4Number: 5

Number: 1
Number: 4Number: 2

Number: 1
Number: 2
Number: 54
Number: 1
Number: 5Number: 2

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None